main > p {
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
}

main > h1 {
  font-family: 'Cinzel', serif;
  font-size: 3em;
}
.content-main {
  
}

main img {
  width: 100%;
}

.imgs {
  margin-top: 24px;
}

main .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
main a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}